
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  color : #231f20;
  text-align: center;
}

h1 {
   /* Default font, size, and margins */
   font-size: 88px;
   font-weight: 900;
   text-align: center;
   color: white;
   background-color: #fcce00;
}

h2 {
  /* Default font, size, and margins */
  color: white;
  background-color: #ff6b00;
  font-size: 38px;
  font-weight: 900;
}

p1 {
  background-color: #e02020;
  width: 1440px;
  height: 32px;
}

h3 {
  /* Default font, size, and margins */
  font-size: 40px;
  font-weight: 900; 
}

.colonne1 {
  margin: 32px 14px 32px 32px;
  text-align: justify;
}

.colonne2 {
  object-fit: contain;
}

.colonne3 {
  width: 378px;
  height: 486px;
  object-fit: contain;
}


.colonne4 {
  margin: 32px 14px 32px 32px;
  text-align: justify;
}

h4 {
  /* Default font, size, and margins */
  margin: 0 31px 34px 0;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}


h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

/* grid */
.grille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px ;
}

.button {
  width: 185px;
  height: 48px;
  border-radius: 15px;
  border: solid 4px #fcce00;
  background-color: white;
}

.learnmore {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: #fcce00;
}

/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/